<h1>Books</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
        </tr>
    </thead>
</table>

<% @books.each do |book| %>
<span><%= book.title %></span>
<span><%= book.body %></span>

<% end %>